@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navlink-color: #6e6e6e;
    --bg-color: rgba(255, 217, 0, 0.349); /*rgba(255, 217, 0, 0.349);*/
    --contrast-color: #bcad5a;
}

body{
    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
}

.half-blue-white{
    background-color: rgba(255, 255, 255, 0.388);
    /* linear-gradient(to right, var(--bg-color) 50%, white 50%);*/
}

.mb-5{
    margin-bottom: 5vh;
}